/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    /*margin: 0;*/
    /*padding: 0;*/
    /*border: 0;*/
    /*font-size: 100%;*/
    /*font: inherit;*/
    /*vertical-align: baseline;*/
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
/*table {*/
    /*border-collapse: collapse;*/
    /*border-spacing: 0;*/
/*}*/

/* end of reset css */




.header{
    background-color: cornflowerblue;
    min-height: 5vh;

}
.container{
    height: 90vh;
    background-color: black;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
}
.main{
    background-color: aliceblue;
    height: 100%;
    width: 85%;
}
.nav{
    width: 15%;
    height: 100%;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer{
    height: 5vh;
    width: 100%;
    background-color: blue;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 0;
}

.container .nav button{
    height: 50px;
    width: 85%;
    margin: 10px;
    color: antiquewhite;
    background: brown;
    border: none;
    font-family: "Arial";
    font-weight: bold;
    font-size: 20px;
}

.container .nav button:hover{
    background: #a53145;
}

.container .nav button:active{
    background-color: #ff633b;
}

button:focus{
    outline: none;
}
.student{
    margin-top: 50px !important;
}